.gallery {
    grid-column: span 10;
}

.gallery-grid {
    display: grid;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .2rem;
    align-items: center;
}

.gallery-item {
    border: 1px solid;
    width: 200px;
}